@model CatanScoreboard.Models.PlayerScore

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>PlayerScore</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="VictoryPoints" class="control-label"></label>
                <input asp-for="VictoryPoints" class="form-control" />
                <span asp-validation-for="VictoryPoints" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Placed" class="control-label"></label>
                <input asp-for="Placed" class="form-control" />
                <span asp-validation-for="Placed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TournamentPoints" class="control-label"></label>
                <input asp-for="TournamentPoints" class="form-control" />
                <span asp-validation-for="TournamentPoints" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
